
.background-fixed{
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(48, 61, 133), rgb(18, 114, 61));
}

/* box login */

.modal-login{
    box-shadow: -1px -1px -18px -1px rgb(255, 255, 255);
    background-color: #1c1e20;
    min-height: 48vh;

}

/* all Text */

.login-logo{
    text-align: center;
}
.login-logo p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    font-variant-caps: titling-caps;
    font-size: 1em;   
}
.mb-1 a,.mb-0 a{
    color:white;
}

#main-title p.login-box-msg{
    color:white;
    font-size: calc(7px + 1vw);
    text-align: left;
}
.text-footer{
    color:rgb(255, 255, 255);
    font-size: Calc(4px + 1.4vw);
    padding: 2em;
    text-align: center;
}
/* icons and buttons*/

span.fas.fa-envelope,span.fas.fa-lock{
    color:#f4b95f;
}

button.submit{
    margin-top: 10vh;
}
#aside-place{
    background-color: white;
}

#aside-place span{
    color:#f4b95f;
}

#recoveryPassword{
    margin-top: 2vw;
}


@media (min-width:1200px){

    #main-title p.login-box-msg{
        color:white;
        font-size: calc(5px + 1vw);
    }
    

}

@media (min-width:992px) and (max-width:1199px){

   

}
@media (min-width:768px) and (max-width:991px){



    /* button */
}
@media (min-width:576px) and (max-width:767px){

 

}
@media (max-width:575px){
    #main-title p.login-box-msg{
        color:white;
        font-size: calc(7px + 2.5vw);
        text-align: left;
    }
    .text-footer{
        color:rgb(255, 255, 255);
        font-size: Calc(5px + 4vw);
        padding: 2em;
        text-align: center;
    }
    
}
