.apresentacao{
    position: absolute;
    left: 0vw;
    width: 60vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(88, 199, 243), rgb(117, 165, 253));
    transform: skew(-0deg);
    transform-origin: top;
    z-index: -2
}
.background-test{
    position: absolute;
    left: 60vw;
    width: 40vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(75, 138, 85), rgb(72, 124, 95));
    transform: skew(-0deg);
    transform-origin: top;
    z-index: -2
}

.apresentacao p{
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    color:rgb(4, 66, 77);
    font-size: calc(18px + 6vw);
    text-align: center;
}
.apresentacao img{
    margin-top: 4.8vh;
    margin-left: 4vw;
    width: 46vw;
}

.login-all{
    width: 100%;
    height: 100%;
}

.login-logo{
    margin-top: 15vh;
}
div#login-content{
    margin-right: 5vw;
}


/* logotipo Text and content */

#text-logotipo{
    width: calc(100px + 20vw);
    z-index: 2;
}

#modal-login{
    box-shadow: -1px -1px -18px -1px rgb(255, 255, 255);
    background-color: #1c1e20;
    height: 48vh;

}


#modal-login form{
    margin-top: 4vh;
}



/* Check-box,links for recovery and new registers */

.mb-1 a,.mb-0 a{
    color:white;
}

#acess{
    background-color: #3b4483;
    border: 1px solid white;
}
#acess:hover{
    background-color: #1452d8;
}

[for='remember']{
    color:#fbfdff;
}

.card{
    margin-top: 4vh;
}
/* gliph-icons */

#email-icon,#lock-icon{
    background-color: white;
}
span.fas.fa-envelope,span.fas.fa-lock{
    color:#f4b95f;
}

#image-aside{
    width:20vw;
}

/* imagem */

.img-fluid{
    width:20vw;
}

