
.background-test{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(48, 61, 133), rgb(18, 114, 61));
    transform: skew(0deg);
    transform-origin: top;
    z-index: -2
}

/* logotipo Text and content */

#text-logotipo{
    width: calc(100px + 20vw);
    z-index: 2;
}

#modal-login{
    box-shadow: -1px -1px -18px -1px rgb(255, 255, 255);
    background-color: #1c1e20;
    height: 48vh;

}

/* Forms */

#modal-login form{
    margin-top: 4vh;
}


/* Check-box,links for recovery and new registers */

.mb-1 a,.mb-0 a{
    color:white;
}

#acess{
    background-color: rgb(38, 64, 209);
    border: 1px solid white;
}
#acess:hover{
    background-color: #052161;
}

[for='remember']{
    color:#fbfdff;
}

/* login card */

.card{
    margin-top: 4vh;
}


/* gliph-icons */
#email-icon,#lock-icon{
    background-color: white;
}
span.fas.fa-envelope,span.fas.fa-lock{
    color:#f4b95f;
}

